.App {
  text-align: center;
}

.table-responsive {
  overflow-x: auto; /* Enables horizontal scrolling */
}

.table {
  width: 100%; /* Ensures the table takes full width */
  min-width: 600px; /* Minimum width to avoid table collapse */
}

/* Optional: Improve text readability on smaller screens */
@media (max-width: 768px) {
  .table th, .table td {
    font-size: 0.9em; /* Adjust font size */
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
